In [1]:
import pandas as pd
import sqlite3

In [2]:
df = pd.read_csv('movie.csv')

In [3]:
df.shape

(3200, 13)

In [4]:
conn = sqlite3.connect('movies.db')

In [5]:
cursor = conn.cursor()

In [6]:

df.to_sql('movies',conn ,if_exists='replace',index=True)

3200

In [49]:
query = 'SELECT COUNT(*) FROM movies "'
res = pd.read_sql(query , conn)

'thriller'

In [34]:
res

,Title,Time,type,Duration,Link
0,Dragons on the Hill,2024,Movie,80m,https://img.moviesjoy.is/resize/188x288/af/fb/...
1,The Woods Are Real,2024,Movie,80m,https://img.moviesjoy.is/resize/188x288/6f/d5/...
2,Dragons on the Hill,2024,Movie,80m,https://img.moviesjoy.is/resize/188x288/af/fb/...
3,The Woods Are Real,2024,Movie,80m,https://img.moviesjoy.is/resize/188x288/6f/d5/...
4,Gods of the Deep,2024,Movie,80m,https://img.moviesjoy.is/resize/188x288/78/56/...
...,...,...,...,...,...
824,Born2Race,0000,Movie,80m,https://img.moviesjoy.is/resize/188x288/72/51/...
825,Tainted Blood,0000,Movie,80m,https://img.moviesjoy.is/resize/188x288/25/a2/...
826,Free Lunch Express,0000,Movie,80m,https://img.moviesjoy.is/resize/188x288/3d/60/...
827,No Way Out,0000,Movie,80m,https://img.moviesjoy.is/resize/188x288/c0/d5/...
828,Shakespeare School Year,0000,Movie,80m,https://img.moviesjoy.is/resize/188x288/c9/3e/...

In [7]:
conn.close()

In [3]:

import pandas as pd
columns = ['Title' ,'Time' ,'Type', 'Duration', 'Link' ,'movieDesc', 'Released' ,'Genre' ,'Casts' ,'Country', 'Production' ,'IMDB_rating']
# pair = [pair for pair in zip(Title ,Time ,Type ,Duration, Link ,movieDesc ,Released ,Genre ,Casts, Country ,Production ,IMDB_rating)]
df = pd.DataFrame( columns=columns )

In [4]:
df

Empty DataFrame
Columns: [Title, Time, Type, Duration, Link, movieDesc, Released, Genre, Casts, Country, Production, IMDB_rating]
Index: []

In [8]:
import time
start = time.time()
for i in range(5):
    for j in range(32):
        time.sleep(0.1)
        print("_",end="" )
        
    end = time.time()
    print()
    
print(f"{(end - start)}sec")

________________________________
________________________________
________________________________
________________________________
________________________________
16.069681644439697sec